Repository BalancerMaxis/multisig-ops, pull requests merged in 2023-02, with the labels that each got.

#47 Merge results from actions testing in fork back to master for final test in non-forked environment.
  .github/workflows/run_feesweep.yaml
  FeeSwap/out/2023-02-03-arb.json
  FeeSwap/out/2023-02-03-arb.report.txt
  FeeSwap/out/2023-02-03-eth.json
  FeeSwap/out/2023-02-03-eth.report.txt
  FeeSwap/out/2023-02-03-matic.json
  FeeSwap/out/2023-02-03-matic.report.txt
  FeeSweep/2023-02-03-eth.json
  FeeSweep/2023-02-03-matic.json
  FeeSweep/2023-02-03.arbi.json
  FeeSweep/feeSweep.json
  FeeSweep/out/.placeholder
  tools/python/requirements.txt
  tools/python/sweepFees.py
Labels: Sweep Fees

#52 Sweep Fees
  FeeSweep/2023-02-05-arbi.json
  FeeSweep/2023-02-05-eth.json
  FeeSweep/2023-02-05-matic.json
  FeeSweep/out/2023-02-05-arb.json
  FeeSweep/out/2023-02-05-arb.report.txt
  FeeSweep/out/2023-02-05-eth.json
  FeeSweep/out/2023-02-05-eth.report.txt
  FeeSweep/out/2023-02-05-matic.json
  FeeSweep/out/2023-02-05-matic.report.txt
Labels: Sweep Fees

#66 Generate Authorizer outputs based on config file
  .github/workflows/run_auth_gen.yaml
  BIPs/00batched/authorizer/2023-02-12.json
  BIPs/00batched/authorizer/2023-02-12_address_sorted.md
  BIPs/00batched/authorizer/2023-02-12_deployment_sorted.md
  BIPs/00batched/authorizer/2023-02-12_gnosis.json
  tools/python/brownie/helpers/addresses.py
  tools/python/gen_add_permissions_payload.py
  tools/python/requirements.txt
  tools/python/tx_builder_templates/grant_auth_example.json
Labels: Generate Authorizer

#67 Update github actions
  .github/workflows/main.yml
  .github/workflows/merge_json_files.yaml
  .github/workflows/run_auth_gen.yaml
  .github/workflows/run_feesweep.yaml
  BIPs/00batched/authorizer/2023-02-12_gnosis.json
Labels: Sweep Fees

#59 Create BIP 170, 171, 172, 173, 174, 178, 179, 180, 181, 182.json
  BIPs/BIP-170-171-172-174-176-178-179-181-182.json
  tools/python/brownie/scripts/maxi_operations/get_gauge_mappings.py
Labels: BIP JSON

#58 BIP-177
  BIPs/BIP-177/BIP-177A.json
  BIPs/BIP-177/BIP-177A.txt
  BIPs/BIP-177/BIP-177B.json
  BIPs/BIP-177/BIP-177B.txt
  FeeSweep/2023-02-05-arbi.json
  FeeSweep/2023-02-05-eth.json
  FeeSweep/2023-02-05-matic.json
  FeeSweep/out/2023-02-05-arb.json
  FeeSweep/out/2023-02-05-eth.json
  FeeSweep/out/2023-02-05-matic.json
Labels: BIP JSON

#70 BIP 183: Configure manager permissions on Gnoisis Chain
  BIPs/00batched/authorizer/gen_gov_md.sh
  BIPs/00batched/authorizer/governance_template.md
  BIPs/BIP-183/README.md
  BIPs/BIP-183/function_descriptions.md
  BIPs/BIP-183/gnosis.json
  BIPs/BIP-183/inputs.json
  BIPs/BIP-183/results_address_sorted.md
  BIPs/BIP-183/results_deployment_sorted.md
Labels: Generate Authorizer

#75 BIP-192: Wire up new linear pool factories
  BIPs/00batched/authorizer/func_desc_by_name.json
  BIPs/00batched/authorizer/gen_gov_md.sh
  BIPs/00batched/authorizer/governance_template.md
  BIPs/BIP-192/BIP-192.md
  BIPs/BIP-192/README.md
  BIPs/BIP-192/arbitrum.json
  BIPs/BIP-192/function_descriptions.md
  BIPs/BIP-192/gnosis.json
  BIPs/BIP-192/inputs.json
  BIPs/BIP-192/mainnet.json
  BIPs/BIP-192/optimism.json
  BIPs/BIP-192/polygon.json
  BIPs/BIP-192/results_address_sorted.md
  BIPs/BIP-192/results_deployment_sorted.md
  tools/python/brownie/helpers/addresses.py
Labels: Generate Authorizer

#82 BIP-199: Enable Pool Recovery Manager on V3 pools
  BIPs/BIP-199/gnosis.json
  BIPs/BIP-199/mainnet.json
  BIPs/BIP-199/optimism.json
  BIPs/BIP-199/polygon.json
Labels: Generate Authorizer
