Repository BalancerMaxis/multisig-ops, pull requests merged in 2023-03, with the labels that each got.

#103 Sweep fees. 2023-03-03
  Bribs/2023-03-03.csv
  FeeSweep/2023-03-03-arbi.json
  FeeSweep/2023-03-03-eth.json
  FeeSweep/2023-03-03-matic.json
  FeeSweep/out/2023-03-03-arb.json
  FeeSweep/out/2023-03-03-arb.report.txt
  FeeSweep/out/2023-03-03-eth.json
  FeeSweep/out/2023-03-03-eth.report.txt
  FeeSweep/out/2023-03-03-matic.json
  FeeSweep/out/2023-03-03-matic.report.txt
  tools/python/brownie/scripts/maxi_operations/bribe_ecosystems.py
  tools/python/brownie/scripts/maxi_operations/flogFees.py
Labels: Sweep Fees

#93 BIP-205: Enable relayers on gnosis chain and add other missing permissions
  BIPs/BIP-205/BIP-205.md
  BIPs/BIP-205/README.md
  BIPs/BIP-205/function_descriptions.md
  BIPs/BIP-205/gnosis.json
  BIPs/BIP-205/inputs.json
  BIPs/BIP-205/results_address_sorted.md
  BIPs/BIP-205/results_deployment_sorted.md
  tools/python/gen_add_permissions_payload.py
Labels: Generate Authorizer

#110 BIP-214: Grant permissions to Batch Relayer v5
  .github/workflows/run_auth_gen.yaml
  BIPs/00batched/authorizer/2023-03-16.json
  BIPs/BIP-214/BIP-214.md
  BIPs/BIP-214/README.md
  BIPs/BIP-214/arbitrum.json
  BIPs/BIP-214/function_descriptions.md
  BIPs/BIP-214/inputs.json
  BIPs/BIP-214/mainnet.json
  BIPs/BIP-214/optimism.json
  BIPs/BIP-214/polygon.json
  BIPs/BIP-214/results_address_sorted.md
  BIPs/BIP-214/results_deployment_sorted.md
  tools/python/gen_add_permissions_payload.py
  tools/python/requirements.txt
Labels: Generate Authorizer

#119 [BIP-221] Set Protocol Fee Percentage to 50% on Gnosis Chain
  BIPs/BIP-221.json
Labels: BIP JSON

#117 BIP-219: Enable bb-t-usd Gauge [Polygon]
  BIPs/BIP-219.json
Labels: BIP JSON

#115 BIP-217: Enable RDNT/WETH gauge [arbitrum]
  BIPs/BIP-217.json
Labels: BIP JSON

#37 Create BIP-169.json
  BIPs/BIP-169.json
Labels: Do Not Exec
